.view {
    margin-top: 145px;
}

.listView {
    height: 80vh;
    overflow: auto;
}

.movie-list-item {
    display: grid;
}

.headerRow {
    position: absolute;
    background-color: gray;
    width: 100%;
    z-index: 5;
}

.col-2 {
    word-wrap: normal;
    overflow: auto;
}